extends layout.pug

block title
    title #{title}

block todo_list
    div(class='todo_list')
        block header
            div(class='todo_switches')
                form(action='/dashboard/closedTasks' method='post')
                    input.todo_switch#closedTasks(type='submit' value='Closed Tasks')
                form(action='/dashboard' method='post')
                    input.active.todo_switch#openTasks(type='submit' value='TODO List') 
                form(action='/dashboard/addTaskPage' method='post')
                    input.todo_switch#closedTasks(type='submit' value='Add A Task') 
        block content
            div(class='todo_container openTasks')
                div(class='todo_header_container')
                    h2(class='todo_header') Tasks
                div.todo_content_container
                    each val in tasksList
                        if val.openStatus
                            div.task_container(id=`id${val.id}`)
                                div.task_priority(class=`${val.color}`)
                                div.task
                                    div.task_block
                                        form(action=`/dashboard/taskDescription/${val.id}` method='post' id=`id${val.id}`)
                                        div.task_header(id=`id${val.id}`)
                                            p #{val.header}
                                            p #{val.worker}
                                        if val.expandStatus
                                            div.task_addition_info_container(id=`id${val.id}`)
                                                div.task_text_prioirity
                                                    p #{val.priority}
                                                div.task_addition_info
                                                    p #{val.info}
                                                div.task_deadline
                                                    p #{val.dl}
                                        else 
                                            div.task_addition_info_container.hidden(id=`id${val.id}`)
                                                div.task_text_prioirity
                                                    p #{val.priority}
                                                div.task_addition_info
                                                    p #{val.info}
                                                div.task_deadline
                                                    p #{val.dl}
                                    div.task_btns
                                        form(action=`/dashboard/closeTask/${val.id}` method='post')
                                            input(type='submit', value='Завершить').close_task_btn
                                        form(action=`/dashboard/deleteTask/${val.id}` method='post')
                                            input(type='submit', value='Удалить' id=`id${val.id}`).delete_task_btn
                                if val.expandStatus
                                    div.task_expand.task_expand_rotate(id=`id${val.id}`)
                                        div.task_expand_top
                                        div.task_expand_bottom
                                else 
                                    div.task_expand(id=`id${val.id}`)
                                        div.task_expand_top
                                        div.task_expand_bottom
                div.todo_footer
                    p Итого заданий: #{openTasks.length}
